@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,500;1,700&display=swap');

body{
    margin:  50px 0 ;
    padding:  0 ;
    background-color:  #10172A;
    font-family:  'Poppins', sans-serif;
}

h1{
    text-align: center;
    color: #fff;
    font-size:  50px ;
    
}

header{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    color: #fff;
    width: 50%;
    margin: 50px 25%;
    ;
    
}

.search{
    display: flex;
    align-items: center;

}

#input-search{
    background-color: transparent;
    border: 2px #fff solid;
    border-radius: 26px;
    height: 39px;
    width: 266px;
    padding: 8px 0px 8px 16px;
    color: #FFFFFF;
    font-size: 24px ;
    font-weight: 300;
}

input#search:focus{
    outline: none;
}

input#search::placeholder{
    color: #757575;
}


#btn-search{
   
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 13px;
    margin-left: 5px;

}

#btn-search:hover{
    height: 33px;
    width: 33px;
}


#countries{
    margin-top: 170px;
    /* border: solid 1px red ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10%;


}

#countries .country{
    background-color: rgb(221, 216, 216);
    text-align: center;
    width: 17%;
    margin: 40px 0;
    padding: 0 20px;
    cursor: pointer; 
    border-radius: 32px;
    
}

   
    



#countries .country .flag{
    width: 70%;
    height: 100px;
    margin: 40px  auto 10px auto;
}

#countries .country .flag img{
    width: 100%; 
    height: 100%;
    
}


.info-two{
    display: none;
}




